body {
    background: url(https://images.unsplash.com/photo-1588281345136-9893252095bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

h1 {
    margin: 75px auto;
    width: 50%;
    padding: 2px;
    text-align: center
}


div {
    margin: 100px auto;
    width: 50%;
    text-align: center;
}
